<div class="msg-page">
  <div class="msg-profile-container">
    <div class="msg-avatar">
      <%= cl_image_tag @order.dressmaker.avatar_url, crop: :fill, class: "avatar-large" %>
    </div>
    <h3><%= @order.dressmaker.first_name %> <%= @order.dressmaker.last_name %></h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" id="table-item">Item</th>
          <th scope="col" id="table-value">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Status</th>
          <td><strong><%= @order.status %></strong></td>
        </tr>
        <tr>
          <th scope="row">Expected Date</th>
          <td><%= @order.completion_date %></td>
        </tr>
        <tr>
          <th scope="row">Details</th>
          <td><%= @order.order_details %></td>
        </tr>
        <tr>
          <th scope="row">Fabric</th>
          <td><%= @order.fabric %></td>
        </tr>
        <tr>
          <th scope="row">Measures (cm)</th>
          <td> Chest: <%= @order.dimension_chest %> /
            Waist: <%= @order.dimension_waist %> /
            Hips: <%= @order.dimension_hips %> /
            Length: <%= @order.dimension_length %>
          </td>
        </tr>
        <tr>
          <th scope="row">Price</th>
          <td><%= @order.price %></td>
        </tr>
      </tbody>
    </table>
    <!-- Add alert: Are you sure? -->
    <%= button_to("Confirm", order_path(@order), method: :get, :class => "btn btn-primary") %>
  </div>

  <div class="msg-container">
    <h3> Contact your dressmaker </h3>

    <%= form_for [@order, @message], html: {class: "form-group form-inline"} do |f| %>
      <%= f.text_area :content, cols: 80, rows: 5, class: "form-control" %>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
      <%= f.submit "Send", class: "form-control btn btn-primary msg-btn" %>
    <% end %>

    <% @messages.reverse.each do |message| %>
      <!-- if sender(user_id) of a message is current user, displays the message on right -->
      <% if message.user == current_user %>
        <div class="past-msg-right">
          <div class="msg-content">
            <div class="msg-box"><%= message.content %></div>
            <p><%= message.created_at %></p>
          </div>
          <%= cl_image_tag current_user.avatar_url, crop: :fill, class: "avatar-small" %>
        </div>
      <% else %>
        <div class="past-msg">
          <!-- should change depeding on user/dm -->
          <%= cl_image_tag @order.dressmaker.avatar_url, crop: :fill, class: "avatar-small" %>
          <div class="msg-box"><%= message.content %></div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
