<div class="msg-page">
  <div class="msg-order-container">
    <h4>Order Details <%= link_to @order.order_reference, order_path(@order) %></h4>
    <div class="msg-order">
      <table class="table table-hover">
        <tbody>
          <tr>
            <th scope="row">Due Date</th>
            <td id="order-date"><%= @order.completion_date %></td>
          </tr>
          <tr>
            <th scope="row">Details</th>
            <td id="order-details"><%= @order.order_details %></td>
          </tr>
          <tr>
            <th scope="row">Fabric</th>
            <td id="order-fabric"><%= @order.fabric %></td>
          </tr>
          <tr>
            <th scope="row">Chest (cm)</th>
            <td id="order-chest"><%= @order.dimension_chest %></td>
          </tr>
          <tr>
            <th scope="row">Waist (cm)</th>
            <td id="order-waist"><%= @order.dimension_waist %></td>
          </tr>
          <tr>
            <th scope="row">Hips (cm)</th>
            <td id="order-hips"><%= @order.dimension_hips %></td>
          </tr>
          <tr>
            <th scope="row">Length (cm)</th>
            <td id="order-length"><%= @order.dimension_length %></td>
          </tr>
          <tr>
            <th scope="row">Price</th>
            <td id="order-price"><%= @order.price %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Add alert: Are you sure? -->
    <div class="msg-btn-group">
      <button class="btn btn-danger msg-btn" id="edit">Edit</button>
      <button class="btn btn-success msg-btn hidden" id="save" data-order-id="<%= @order.id %>">Save</button>
      <%= button_to("Confirm", order_path(@order), params: { order_conf: true }, method: :get, :class => "btn btn-danger msg-btn") %>
    </div>
  </div>

  <div class="msg-container">
    <div class="msg-profile">
      <%= cl_image_tag @order.dressmaker.avatar_url, crop: :fill, class: "avatar-small" %>
      <div class="msg-profile-txt">
        <p>Contact your dressmaker</p>
        <h3><%= @order.dressmaker.first_name %> <%= @order.dressmaker.last_name %></h3><button class="btn-xs btn-default", style= "margin-left:15px; margin-top: 10px" >Video call</button>
      </div>
    </div>

    <%= form_for [@order, @message], html: {class: "form-group form-inline"} do |f| %>
      <%= f.text_area :content, cols: 95, rows: 5, class: "form-control" %>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
      <%= f.submit "Send", class: "form-control btn btn-primary msg-btn" %>
    <% end %>
    <div class="divider"><br></div>
    <% @order.messages.reverse.each do |message| %>
      <!-- if sender(user_id) of a message is current user, displays the message on right -->
      <% if message.user == current_user %>
        <div class="past-msg-right">
          <div class="msg-content">
            <div class="msg-box"><%= message.content.html_safe %></div>
            <p><%= message.created_at %></p>
          </div>
          <%= image_tag "eli.png", class: "avatar-small"%>
        </div>
      <% else %>
        <div class="past-msg">
          <!-- should change depeding on user/dm -->
          <%= cl_image_tag @order.dressmaker.avatar_url, crop: :fill, class: "avatar-small" %>
          <div class="msg-content">
            <div class="msg-box"><%= message.content.html_safe %></div>
            <p><%= message.created_at %></p>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
