<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="main-title">
        <h1>My Profile</h1>
      </div>
      <p style="text-align: center"><%= "Hi #{current_user.email}, tell us about yourself..." %></p>
      <br>
      <%= simple_form_for @dressmaker, html: {multipart: true} do |f| %>
        <%= f.error_notification %>
        <%= f.input :bio, placeholder: "Tell us about yourself...", input_html: {cols: 30, rows: 5} %>
        <%= f.input :avatar %>
        <%= cl_image_tag @dressmaker.avatar, class: "avatar-large" %>
        <%= f.input :avatar_cache, as: :hidden %>
        <%= f.input :fb_url, label: "Facebook profile" %>
        <%= f.input :insta_url, label: "Instagram profile" %>
        <%# if @dressmaker.portfolios.present? %>
          <%# @dressmaker.portfolios.each do |portfolio| %>
            <%#= cl_image_tag portfolio.url, width: 100, style: "margin-top: 10px" %>
          <%# end %>
        <%# end %>
        <%#= f.check_box :remove_portfolios %><!-- <label>delete</label> -->
        <br>
        <%= f.input :account_status, collection: ["Active", "Inactive"] %>
        <%= f.button :submit, "Update", class: "btn-primary" %>
        <%= f.button :button, "Cancel", type: "reset" %>
      <% end %>

      <%= simple_form_for @photo %>
        <label>Add portfolio</label>
        <%= f.file_field :portfolios, multiple: true, accept: "image/jpedg, image/jpg, image/png" %>

    </div><!-- col -->
  </div><!-- row -->
</div>


