<div class="index-body">
  <div class="list-container">
    <h1>Dressmaker results</h1>

    <!-- search bar -->
    <div class="row">
      <div class="col-lg-12">
        <div class="form-inline">
          <!-- Replaced form with search function -->
          <%= form_tag dressmaker_profiles_path, method: :get do %>
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Try Paris..." %>
            <%= submit_tag "Go!", class: "btn btn-danger" %>
          <% end %>
        </div><!-- /.form-inline -->
      </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->

    <!-- dropdown filter -->
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Speciality
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <% @specialities.each do |speciality| %>
          <li><%= link_to speciality.name, dressmaker_profiles_path %></li>
        <% end %>
      </ul>
    </div>

    <!-- card list -->
    <% @dressmakers.each do |dressmaker| %>
      <div class="product">
        <div class="product-controls">
          <div class="dm-profile list-inline">
            <li>
              <div class="fav-and-av">
                <i class="fas fa-heart"></i><br>
                <%= cl_image_tag dressmaker.user.avatar_url, crop: :fill, class: "avatar-large" %>
              </div>
            </li>
            <li><h3><%= dressmaker.user.first_name %><%= dressmaker.user.last_name %></h3><p>dressmaker.bio</p></li>
          </div>
          <div class="dm-portfolio">
            <!-- Bootstrap Carousel -->
            <div id="carousel-example-generic" class="carousel slide multi-item-carousel" data-ride="carousel">
              <!-- auto slider (data-ride) does not work, need to figure out -->
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
              <!-- Indicators -->
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="col-xs-4">
                    <%= cl_image_tag dressmaker.photos.last.url, class: "d-block w-100 carousel-image" %>
                  </div>
                </div>
                <% dressmaker.photos.first(4).each do |photo| %>
                  <div class="item">
                    <div class="col-xs-4">
                      <%= cl_image_tag photo.url, class: "d-block w-100 carousel-image" %>
                    </div>
                  </div>
                <% end %>
              </div>
              <!-- Wrapper for slides -->
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="glyphicon glyphicon-chevron-left"></i>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="glyphicon glyphicon-chevron-right"></i>
              </a>
              <!-- Controls -->
            </div>
            <!-- Bootstrap Carousel -->
          </div>
        </div>
      </div><!-- /.product -->
    <% end %>

  </div><!-- /.list-container -->

  <div class="map-container">
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div><!-- /.map-container -->

</div><!-- /.index-body -->
