<div class="index-body">
  <div class="list-container">

    <!-- search bar -->
    <div class="row">
      <div class="col-lg-12">
        <div class="form-inline" style="margin: 10px 0 0 10px">
          <!-- Replaced form with search function -->
          <%= form_tag dressmaker_profiles_path, method: :get do %>
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Try Paris...", size: "30" %>
            <%= collection_select :dressmaker_profile, :speciality_id, Speciality.all, :id, :name, {:prompt => 'All'}, class: "search-dropdown" %>
            <%= submit_tag "Search", class: "btn btn-danger" %>
          <% end %>
        </div><!-- /.form-inline -->
      </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->

    <!-- card list -->
    <% @dressmakers.each_with_index do |dressmaker, index| %>
      <div class="product">
        <div class="product-controls">
          <div class="dm-profile list-inline">
            <li>
              <div class="fav-and-av">
                <i class="fas fa-heart"></i><br>
                <%= cl_image_tag dressmaker.user.avatar_url, crop: :fill, class: "avatar-large" %>
              </div>
            </li>
            <li><h3><%= dressmaker.user.first_name %> <%= dressmaker.user.last_name %></h3><p><%= dressmaker.bio %></p></li>
          </div>
          <div class="dm-portfolio">
            <!-- Bootstrap Carousel -->
            <div id="carousel-example-generic-#{index}" class="carousel slide multi-item-carousel" data-ride="carousel">
              <!-- auto slider (data-ride) does not work, need to figure out -->
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic-#{index}" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic-#{index}" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic-#{index}" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic-#{index}" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic-#{index}" data-slide-to="4"></li>
              </ol>
              <!-- Indicators -->
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="col-xs-4">
                    <%= cl_image_tag dressmaker.photos.last.url, class: "d-block w-100 carousel-image" %>
                  </div>
                </div>
                <% dressmaker.photos.first(4).each do |photo| %>
                  <div class="item">
                    <div class="col-xs-4">
                      <%= cl_image_tag photo.url, class: "d-block w-100 carousel-image" %>
                    </div>
                  </div>
                <% end %>
              </div>
              <!-- Wrapper for slides -->
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="glyphicon glyphicon-chevron-left"></i>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="glyphicon glyphicon-chevron-right"></i>
              </a>
              <!-- Controls -->
            </div>
            <!-- Bootstrap Carousel -->
          </div>
        </div>
      </div><!-- /.product -->
    <% end %>

  </div><!-- /.list-container -->

  <div class="map-container">
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div><!-- /.map-container -->

</div><!-- /.index-body -->
