<div class="index-body">
  <div class="list-container">

    <div class="main-title" style="background-size: 400px 73px">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1> Our dressmakers </h1>
        </div>
      </div>
    </div>

    <!-- search bar -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <%= form_tag dressmaker_profiles_path, method: :get do %>
          <%#= text_field_tag :query, params[:query], class: "form-control input-sm", placeholder: "Try children or wedding ", size: "30" %>
          <%= collection_select :dressmaker_profile, :speciality_name, Speciality.all, :name, :name, {:prompt => 'Speciality'}, class: "dropdown" %>
          <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
        <% end %>
      </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->

    <!-- card list -->
    <% @dressmakers.each_with_index do |dressmaker, index| %>
      <%= link_to dressmaker_profile_path(dressmaker) do %>
        <div class="product">
          <div class="product-controls">
            <div class="dm-profile list-inline">
              <li>
                <div class="fav-and-av">
                  <i class="fas fa-heart"></i><br>
                  <% if dressmaker.user.avatar_url.nil? %>
                    <%= image_tag "avatars/default.png", class: "avatar-large" %>
                  <% else %>
                    <%= cl_image_tag dressmaker.user.avatar_url, crop: :fill, class: "avatar-large" %>
                  <% end %>
                </div>
              </li>
              <li>
                <h3><%= dressmaker.user.first_name %> <%= dressmaker.user.last_name %></h3>
                <% if dressmaker.bio.nil? %>
                  <p>no bio yet</p>
                <% else %>
                  <p><%= truncate dressmaker.bio, length: 100, separator: /\w+/ %></p>
                <% end %>
              </li>
            </div>
            <div class="dm-portfolio">
              <!-- Bootstrap Carousel -->
              <div id="carousel-example-generic" class="carousel slide multi-item-carousel" data-ride="carousel">
                <!-- auto slider (data-ride) does not work, need to figure out -->
                <!-- Indicators disabled -->
<!--                 <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="<%#= index %>" class="<%#= index == 0 ? 'active' : '' %>"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="<%#= index %>"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="<%#= index %>"></li>
                </ol> -->
                <!-- Indicators -->
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <div class="col-xs-4">
                      <% if dressmaker.photos.present? %>
                        <%= cl_image_tag dressmaker.photos.last.url, class: "d-block w-100 carousel-image" %>
                      <% else %>
                        <%= image_tag "avatars/default.png", class: "d-block w-100 carousel-image" %>
                      <% end %>
                    </div>
                  </div>
                  <% if dressmaker.photos.present? %>
                    <% dressmaker.photos.first(2).each do |photo| %>
                      <div class="item">
                        <div class="col-xs-4">
                          <%= cl_image_tag photo.url, class: "d-block w-100 carousel-image" %>
                        </div>
                      </div>
                    <% end %><!-- end of photo loop -->
                  <% else %>
                    <div class="item">
                      <div class="col-xs-4">
                        <%= image_tag "avatars/default.png", class: "d-block w-100 carousel-image" %>
                      </div>
                    </div>
                  <% end %><!-- end of if/else -->
                </div><!-- .carousel-inner -->
                <!-- Wrapper for slides -->
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <i class="glyphicon glyphicon-chevron-left"></i>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
                <!-- Controls -->
              </div>
              <!-- Bootstrap Carousel -->
            </div>
          </div>
        </div><!-- /.product -->
      <% end %>
    <% end %>
  </div><!-- /.list-container -->

  <div class="map-container">
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div><!-- /.map-container -->
</div><!-- /.index-body -->
