<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="main-title">
        <h1>Create your Dressmaker Profile</h1>
      </div>
      <p><%= "Hi #{current_user.email}, tell us about yourself..." %></p>

      <%= simple_form_for @dressmaker do |f| %>
        <%= f.error_notification %>
        <%= f.input :bio, placeholder: "Tell us about yourself..." %>
        <%= f.input :fb_url, label: "Facebook profile:" %>
        <%= f.input :insta_url %>
        <%= f.button :submit, class: "btn-primary" %>
        <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
      <% end %>
    </div><!-- col -->
  </div><!-- row -->
</div>


