<%# image_arr =
  [
    "https://res.cloudinary.com/dwww7z6po/image/upload/v1550814169/31255954_234537540432611_7018967264590299136_n.jpg.jpg",
    "https://res.cloudinary.com/dwww7z6po/image/upload/v1550814141/31386514_168887910488487_4107042805849784320_n.jpg.jpg",
    "https://res.cloudinary.com/dwww7z6po/image/upload/v1550814917/30077926_167795500601822_8016042294564093952_n.jpg.jpg",
    "https://res.cloudinary.com/dwww7z6po/image/upload/v1551062472/su1cl7ctrytz5lkivfs7.jpg"
  ]
%>

<div class="banner profile-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path('https://res.cloudinary.com/dwww7z6po/image/upload/v1550886875/sew-nahutensilien-handarbeiten-meter-tailors-chalk.jpg') %>);
" >
  <div class="profile-banner-content">
    <h1><%= "#{@dressmaker.user.first_name.capitalize}'s Profile" %></h1>
    <%# if current_user == @dressmaker.user %>
      <!-- <div class="btn-primary">
        <a><%#= link_to 'Edit', edit_dressmaker_profile_path(@dressmaker) %></a>
      </div>
    <%# end %> -->
    <div>
      <% if @dressmaker.user.avatar_url.present? %>
        <%= image_tag @dressmaker.user.avatar_url, class: "avatar-profile"%>
      <% end %>
    </div>
  </div>

  <div class="rating">
    <% @review_total = 0 %>
    <% @reviews.each do |review| %>
      <% @review_total += review.rating if review.order.dressmaker == @dressmaker.user %>
    <% end %>

    <% if @review_total > 0 %>
      <% (@review_total / @reviews.count).times do %><i class="fas fa-star"></i><% end %>
      (<%= @avg_rating = (@review_total / @reviews.count.to_f).round(1) %>)
    <% end %>

  </div>

  <div class="specialites" >
    <%= image_tag 'icons/embroidery.svg', class: "specialites-image"%>
    <%= image_tag 'icons/knitting.svg', class: "specialites-image"%>
    <%= image_tag 'icons/icones3.svg', class: "specialites-image"%>
  </div>
</div>

<div class="container">

  <div class="bio text-center">
    <p><small><%= @dressmaker.bio %> <br></small></p>



    <div>
      <% if user_signed_in? %>
          <%#= link_to "Message", new_order_path(dressmaker_id: @dressmaker.id) %>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Message
          </button>
        <% else %>
          <%= link_to "Sign in to send message", new_user_session_path %>
        <% end %>
    </div>
  </div>

  <div class="portfolio">

      <div class="photos">
          <div class="row">
        <% @photos.each do |photo| %>
            <div class="photo-container col-xs-12 col-sm-6 col-md-4">
              <%= cl_image_tag photo.url, class: "portfolio-photo"%>
            </div>
        <% end %>
          </div>
      </div>

      <div class="reviews">
        <!-- Uncomment after demo day as this is working code
        <%# @reviews.each do |review| %>
          <%# if review.order.dressmaker == @dressmaker.user %>
            <div class="review">
              <div class="reviewer">
                <%#= image_tag "eli.png", class: "avatar-small"%>
                <p><strong><%#= review.order.user.first_name %></strong></p>
                <%# review.rating.times do %>
                  <i class="fas fa-star"></i>
                <%# end %>
              </div>

              <p><%#= review.content %></p>

              <button class="btn btn-link myBtn"><small>Read more</small></button>
            </div>
          <%# end %>
        <%# end %> -->

        <div class="review">
          <div class="reviewer">
            <%= image_tag "avatars/1.png", class: "avatar-small"%>
            <p><strong>Amy</strong></p>
            <% 5.times do %>
              <i class="fas fa-star"></i>
            <% end %>
          </div>
          <p><small>The dress was amazing. So happy with the outcome</small></p>
        </div>

        <div class="review">
          <div class="reviewer">
            <%= image_tag "avatars/2.png", class: "avatar-small"%>
            <p><strong>Laura</strong></p>
            <% 5.times do %>
              <i class="fas fa-star"></i>
            <% end %>
          </div>
          <p><small>Love my dress so much. Amazing job.</small></p>
        </div>

        <div class="review">
          <div class="reviewer">
            <%= image_tag "avatars/4.png", class: "avatar-small"%>
            <p><strong>Natasha</strong></p>
            <% 4.times do %>
              <i class="fas fa-star"></i>
            <% end %>
          </div>
          <p><small>Dress is beautiful. Thank you!</small></p>
        </div>

      <div class="review">
        <div class="reviewer">
          <%= image_tag "avatars/5.png", class: "avatar-small"%>
          <p><strong>Amy</strong></p>
          <% 5.times do %>
            <i class="fas fa-star"></i>
          <% end %>
        </div>
        <p><small>Highly recommend. Thank you so much!</small></p>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<%= render 'orders/query' %>
