<div class="banner profile-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path('https://res.cloudinary.com/dwww7z6po/image/upload/v1550886875/sew-nahutensilien-handarbeiten-meter-tailors-chalk.jpg') %>);
" >
  <div class="profile-banner-content">
    <div>
      <h1><%= "#{@dressmaker.user.first_name.capitalize}'s Profile" %></h1>
    </div>

    <div><!-- avatar -->
      <% if @dressmaker.user.avatar_url.present? %>
        <%= image_tag @dressmaker.user.avatar_url, class: "avatar-profile"%>
      <% elsif @dressmaker.avatar.present? %>
        <%= cl_image_tag @dressmaker.avatar, class: "avatar-profile" %>
      <% end %>
    </div><!-- avatar -->

    <div class="rating">
      <% @review_total = 0 %>
      <% @reviews.each do |review| %>
        <% @review_total += review.rating if review.order.dressmaker == @dressmaker.user %>
      <% end %>

      <% if @review_total > 0 %>
        <% (@review_total / @reviews.count).times do %><i class="fas fa-star"></i><% end %>
        <%#= @avg_rating = (@review_total / @reviews.count.to_f).round %>
      <% end %>
    </div><!-- rating -->
  </div><!-- profile-banner-content -->
</div><!-- profile-banner -->

<div class="dm-container">
  <div class="container">
    <div class="specialities">
      <% @specialities.each do |speciality| %>
        <span class="tooltip-wrapper" data-tooltip=<%= speciality.name %>>
          <%= image_tag "specialities/#{speciality.name.downcase}.png", class: "specialities-image" %>
        </span>
      <% end %>
    </div><!-- specialities -->

    <div class="bio text-center" style="padding-bottom: 40px">
      <p><small><%= @dressmaker.bio %><br></small></p>
      <div><!-- button -->
        <% if current_user == @dressmaker.user %>
          <%= link_to "Edit Profile", edit_dressmaker_profile_path(@dressmaker), class: "btn btn-primary" %>
        <% elsif user_signed_in? %>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Message
          </button>
        <% else %>
          <%= link_to "Sign in to send message", new_user_session_path %>
        <% end %>
      </div><!-- button -->
    </div><!-- bio -->

    <div class="portfolio">
      <div class="photos">
        <div class="row">
          <% @photos.each do |photo| %>
            <div class="photo-container col-xs-12 col-sm-6 col-md-4">
              <%= cl_image_tag photo.url, crop: :fill, class: "portfolio-photo"%>
              <% if current_user == @dressmaker.user %>
                <%= link_to '<i class="fas fa-minus-circle"></i>'.html_safe, [@dressmaker, photo], method: :delete, "data-confirm" => "Do you really want to delete?" %>
              <% end %>
            </div>
          <% end %>
        </div><!-- .row -->
      </div><!-- .photos -->

      <div class="reviews">
        <div class="review">
          <div class="reviewer">
            <%= image_tag "avatars/1.png", class: "avatar-small"%>
            <p><strong>Amy</strong></p>
            <% 5.times do %>
              <i class="fas fa-star"></i>
            <% end %>
          </div>
          <p><small>The dress was amazing. So happy with the outcome</small></p>
        </div>

        <div class="review">
          <div class="reviewer">
            <%= image_tag "avatars/2.png", class: "avatar-small"%>
            <p><strong>Laura</strong></p>
            <% 5.times do %>
              <i class="fas fa-star"></i>
            <% end %>
          </div>
          <p><small>Love my dress so much. Amazing job.</small></p>
        </div>

        <div class="review">
          <div class="reviewer">
            <%= image_tag "avatars/4.png", class: "avatar-small"%>
            <p><strong>Natasha</strong></p>
            <% 4.times do %>
              <i class="fas fa-star"></i>
            <% end %>
          </div>
          <p><small>Dress is beautiful. Thank you!</small></p>
        </div>

      <div class="review">
        <div class="reviewer">
          <%= image_tag "avatars/5.png", class: "avatar-small"%>
          <p><strong>Francesca</strong></p>
          <% 5.times do %>
            <i class="fas fa-star"></i>
          <% end %>
        </div>
        <p><small>Highly recommend. Thank you so much!</small></p>
      </div>
     <!--    <%# if @reviews.empty? %>
          <p>Looks like there are no reviews yet :(</p>
        <%# else %>
          <%# @reviews.each do |review| %>
            <%# if review.order.dressmaker == @dressmaker.user %>
              <div class="review">
                <div class="reviewer">
                  <%#= image_tag "eli.png", class: "avatar-small"%>
                  <p><strong><%#= review.order.user.first_name %></strong></p>
                  <%# review.rating.times do %>
                    <i class="fas fa-star"></i>
                  <%# end %>
                </div>
                <p><%#= review.content %></p>
                <button class="btn btn-link myBtn"><small>Read more</small></button>
              </div>
            <%# end %>
          <%# end %>
        <%# end %> -->
      </div>
    </div>
</div>

<!-- Modal -->
<%= render 'orders/query' %>
