<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-details">
          <div class="form-titles">
            <div class="main-title"><h1>Start a new project</h1></div>
            <p><%= "Hi #{current_user.first_name}, please provide a few details to help the dressmaker let you have the perfect dress you want" if user_signed_in? %></p>
          </div>
          <%= simple_form_for @order, validate: true do |f| %>
            <%= f.error_notification %>
            <%= f.input :price, label: "My budget is:", validate: true %>
            <%= f.input :completion_date, as: :date, label: "I want it delivered before", html5: true, class: "form-control" %>
            <%= f.input :dimension_chest, label: "Chest dimension (cm):" %>
            <%= f.input :dimension_waist, label: "Waist dimension (cm):" %>
            <%= f.input :dimension_hips, label: "Hips dimension (cm):" %>
            <%= f.input :dimension_length, label: "Length dimension (cm):" %>
            <%= f.input :fabric, collection: @fabrics, label: "Choose your fabric:" %>
            <%= f.input :quantity, label: "Quantity" %>
            <%= f.input :order_details, label: "Description" %>
            <%= f.submit "Create Order", class: "btn btn-primary" %>
          <% end %>
          <div class="dimension">
            <%= image_tag "dress-dimension.png", class: "dimensions-img" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
