<ul>
  <% @orders.each do |order| %>
  <li>
    <%= order.status %>
    <%= order.order_details %>
    <%= order.quantity %>
    <%= order.completion_date %>
    <%= order.user.first_name %>
    <%= order.dressmaker.first_name %>
  </li>
  <% end %>
</ul>
