
<div class="main-form-container">
  <div class="form-container">
    <div class="form-titles">
      <h1 class="text-center">Summary of your request</h1>

      <p class="text-center"> <%= "Hi #{current_user.first_name}, please review your request before submitting it to the dressmaker" %></p>
    </div>
    <div class="form-details">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" id="table-item">Item</th>
            <th scope="col" id="table-value">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Status</th>
            <td><strong><%= @order.status %></strong></td>
          </tr>
          <tr>
            <th scope="row">Customer Name</th>
            <td><%= @order.user.first_name %> <%= @order.user.last_name %></td>
          </tr>
          <tr>
            <th scope="row">Dressmaker Name</th>
            <td><%= @order.dressmaker.first_name %> <%= @order.dressmaker.last_name %></td>
          </tr>
          <tr>
            <th scope="row">Expected Completion Date</th>
            <td><%= @order.completion_date %></td>
          </tr>
          <tr>
            <th scope="row">Order Details</th>
            <td><%= @order.order_details %></td>
          </tr>
            <th scope="row">Fabric</th>
            <td><%= @order.fabric %></td>
          </tr>
          <tr>
            <th scope="row">Price</th>
            <td><%= humanized_money_with_symbol(@order.price) %></td>
          <tr>
            <th rowspan="4">Measures (cm)</th>
            <td rowspan="4"> Chest: <%= @order.dimension_chest %> <br> Waist: <%= @order.dimension_waist %> <br>Hips: <%= @order.dimension_hips %> <br> Length: <%= @order.dimension_length %> </td>
          </tr>
          <tr>
          </tr>
        </tbody>
      </table>
      <%= image_tag "dress-dimension.png", class: "dimensions-img" %>
    </div>


    <div class="btn-group center-block">
      <button type="button" class="btn btn-primary" id="confirm">
        <% if user_signed_in? %>
          <%= link_to "Confirm", order_messages_path(@order) %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path %>
        <% end %>
      </button>

      <button type="button" class="btn btn-primary" id="return">
        <%= link_to "Return", order_path(@order) %>
      </button>

      <% if !current_user.dressmaker %>

        <%= form_tag order_payments_path(@order) do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="My Order"
            data-email="<%= current_user.email %>"
            data-description="<%= @order.order_details %>"
            data-amount="<%= @order.price_cents %>"
            data-currency="<%= @order.price.currency %>">
          </script>

          <script>
            // Hide default stripe button, be careful there if you
            // have more than 1 button of that class
            document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
          </script>

          <button type="submit" class="btn btn-primary">Pay</button>

        <% end %>
      <% end %>

    </div>
  </div>
</div>


