
<div class="container">
  <h1>Summary of your request</h1>

  <p> <%= "Hi #{current_user.first_name}, please review your request before submitting it to the dressmaker" %></p>

  <%= @order.status %>
  <%= @order.order_details %>
  <%= @order.quantity %>
  <%= @order.completion_date %>
  <%= @order.user.first_name %>
  <%= @order.dressmaker.first_name %>
  <%= @order.dimension_chest %>
  <%= @order.dimension_waist %>
  <%= @order.dimension_hips %>
  <%= @order.dimension_length %>
  <%= @order.fabric %>
</div>


