<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>



<%= cl_image_tag("roznudllwmj8cnsvycfq",
      width: 300, height: 300, crop: :fill)%>

<%= cl_image_tag("29403188",
      width: 300, height: 300, crop: :fill)%>

<%= cl_image_tag("30085524",
      width: 300, height: 300, crop: :fill)%>

<%= cl_image_tag("30841671",
      width: 300, height: 300, crop: :fill)%>

<%= cl_image_tag("30603138",
      width: 300, height: 300, crop: :fill)%>


