
<div class="landing-container">


  <!-- Heading -->

  <div class="row ">
    <div class="col-sm-12 col-lg-6 main-text ">

      <%= image_tag "logo.png" %>

      <h1 > Calling all dressmakers from France </h1>

      <h3> Share your portoflio of creation with the world and start receiving brief for your custom made items !</h2>

      <a href="#"class="btn-landing btn btn-primary"> Join waitlist</a>

    </div>
    <div class="col-lg-6 col-sm-12 col-xs- 12 main-pic"
        style="
        background-image: linear-gradient(transparent,rgba(252,173,140,0.4)),
        url(<%= image_path "homepage_banner.jpg" %>);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        ;">
        <a href="#"class="floating-button btn-landing btn btn-primary"> Join waitlist</a>
    </div>
  </div>

  <!-- END Heading -->

  <!-- Benefits -->

  <div class="container-benefit">
    <div class="row">
      <div class="col-sm-12 col-lg-6 benefit">
        <h2> Share your creations </h2>
        <h3> No product pages to fill in. You are an artist every piece you make is unique, you should be able to share the spirit of your work, not to be an e-commerce website </h3>
      </div>
      <div class="col-sm-12 col-lg-6 benefit text-center">
        <div id="carousel-pic">
          <%= image_tag "carousel-pic.png" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-6 benefit">
        <h2> Find customer online </h2>
        <h3> Because craftwork sometimes requires personal adjustements and that final touch that makes all the difference, your customer can also find you on a map </h3>
      </div>
      <div class="col-sm-12 col-lg-6 benefit text-center">
        <div id="map-pic">
        <%= image_tag "map-pic.png" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-6 benefit">
        <h2> Get orders </h2>
        <h3> Your time is important, receive prefilled-in request with the details of the customer expectation to avoid back and forth. Generate your quote online and receive payment on time. </h3>
      </div>
      <div class="col-sm-12 col-lg-6 benefit text-center">
        <div id="quote-pic">
          <%= image_tag "quote-pic.png" %>
        </div>
      </div>
    </div>
  </div>
  <!-- END benefits -->

  <!-- Bottom Tagline -->


  <div class="row ">
    <div class="tagline text-center">
      <h2>Gain visibility among customers who value your <strong> know-how</strong> <br> and want <strong> unique clothes</strong>.</h2>

      <a href="#"class="btn-landing btn btn-primary"> Join waitlist</a>

      <h3><strong>1200 dressmakers</strong> already joined the revolution !</h3>
    </div>
  </div>



  <!-- END Bottom Tagline -->

</div>


